<html>
  <title>{% block title %} Return Policy {%endblock%}</title>
  {% extends 'base.html' %} {% block content %}
  <head>
    <style>
      * {
        margin: 0;
        padding: 0%;
      }
      .container {
        margin: 0;
        padding: 0;
      }
      .main {
        margin: 0;
        padding: 0;
        width: 100vw;
      }
      .return-form {
        height: 160vh;

        margin: 0 12%;
      }
      .title {
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
      }
      .policy {
        margin: 0 8%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="main">
        <div class="return-form">
          <h1 class="title">OUR RETURN POLICY</h1>
          <div class="policy">
            <p><b>RETURNS AND REFUND POLICY</b></p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
              dolor amet consectetur natus et illo ab itaque eligendi blanditiis
              veniam, nam, expedita temporibus velit iste eaque eveniet omnis,
              libero unde suscipit officia cupiditate obcaecati assumenda? Eos
              minima possimus, autem porro assumenda temporibus facilis
              obcaecati odit veniam quisquam! Atque excepturi quae veniam
              obcaecati optio qui in vero corrupti. Nesciunt quam doloribus
              sequi eius dolorem laborum accusantium totam recusandae deleniti,
              soluta laboriosam?
            </p>

            <br />

            <p><b>My return item package was lost/stolen. What do I do?</b></p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta,
              beatae. Facere voluptate, iste recusandae repellendus sed earum at
              alias sequi iusto, veritatis quaerat ratione et non vitae labore?
              Fugiat libero illum, optio blanditiis eos provident sint tenetur
              porro dolore at ratione sapiente praesentium voluptas harum cum
              eveniet cumque ducimus reiciendis ipsa, accusantium nisi repellat
              sequi? Ullam sunt totam sapiente, dolore ut tempore dolor. Iusto
              dolorum eos quis officia provident enim ex mollitia repellat
              assumenda? Dolores fugit, dicta ad molestias, placeat repellendus
              inventore commodi architecto maiores veniam veritatis quidem
              pariatur quos, error voluptas quaerat blanditiis culpa. Quasi,
              tenetur. Provident, necessitatibus laborum. Provident?
            </p>
            <br />

            <p>
              <b
                >How long does it take to process returns, exchanges and/or
                refunds?</b
              >
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia
              provident ipsam atque ipsum dolorum alias, eaque unde dignissimos
              nemo blanditiis eum, asperiores commodi quam mollitia quidem quas
              reiciendis, ea soluta aut veniam. Quibusdam adipisci quas
              doloribus nam illum omnis quam. Minus natus non veritatis tempora,
              placeat molestias quae doloremque odit.
            </p>
            <br />

            <p><b>POLICY RESTRICTIONS</b></p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio
              voluptas, possimus est inventore consectetur adipisci facilis
              eaque saepe vero id quas ipsa amet quisquam atque eos, non harum
              officiis omnis modi recusandae ducimus molestias earum. Quod
              cumque dicta autem porro illum exercitationem aliquid saepe,
              asperiores voluptatum voluptates iusto officia architecto ipsum
              labore rerum ipsa molestiae et dolorum vel. Perferendis, officia.
              Vero nesciunt magnam aperiam veritatis, corporis alias ducimus
              veniam porro deleniti nihil sed sint est ipsam. Laudantium dolorum
              impedit deleniti id, fugit facilis veniam fuga nihil, maxime,
              perspiciatis praesentium explicabo suscipit. Consequuntur quis
              alias quia optio delectus deserunt voluptate veritatis quod
              necessitatibus esse doloribus magni repellat eius nesciunt autem
              accusamus dignissimos odio ullam, blanditiis minus sint expedita?
              Eius sunt consequuntur sit neque id, illo aspernatur voluptatum,
              dolores deleniti quasi accusamus commodi corporis fuga dolorem
              porro quos cupiditate, nam amet ut doloremque? Alias distinctio
              facere ex facilis exercitationem. Provident quos eum modi error
              labore itaque, rem vel quia libero tempore beatae quod eveniet aut
              dolore quibusdam reprehenderit molestias praesentium quae!
              Deserunt illo dicta minus cum sapiente, odio quas cumque, nam
              animi quam repellendus eos architecto reiciendis, esse amet quo
              necessitatibus labore ratione dolores laborum atque! Deserunt
              perspiciatis neque, est laboriosam quo ad necessitatibus quam
              odit, at voluptates modi, praesentium dolor? Esse maiores
              recusandae sapiente adipisci cupiditate incidunt officiis laborum
              hic corrupti dolor? Ipsa.
            </p>

            <p><b>Exchanges</b></p>
            <p>We do not offer exchanges.</p>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer-text">
          <h4 class="sitemap">Sitemap</h4>
          <ul>
            <li class="link-item">
              <a class="nav-item nav-link director" id="link" href="/home"
                >Home
              </a>
            </li>
            <li class="link-item">
              <a class="nav-item nav-link director" id="link" href="/about"
                >About
              </a>
            </li>
            <li class="link-item">
              <a class="nav-item nav-link director" id="link" href="/herbs"
                >Herbs
              </a>
            </li>
            <li class="link-item">
              <a
                class="nav-item nav-link director"
                id="link"
                href="/return-policy"
                >Return Policy
              </a>
            </li>
          </ul>
          <div class="footer-contact">
            <h4 class="contact">Get in Touch</h4>
            <ul>
              <li class="link-item2">Customer support: (201)-657-8803</li>
              <li class="link-item2">
                <p>Mon - Fri 9am - 7pm EST,</p>
                <p>Sat - Closed,</p>
                <p>Sun - 9am to 7pm EST</p>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>

  {%endblock%}
</html>
